################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug (default)
/VS/.vs/Barony/v16
/VS-includes
/VS-libs
/VS.2015/.vs/Barony/v16
/VS.2015/Barony/NODRM
/VS.2015/Barony/barony.vcxproj.DotSettings
/VS.2015/editor/NODRM
/VS.2015/editor/editor.vcxproj.DotSettings
/VS.2015/NODRM
